{% include "header.html" %}

<style>
  .container my-5 {
    background-size: cover;
    background-attachment: scroll;
    position: relative;
  }

  h1 {
    color: #fff;
    text-align: left;
    padding-bottom: 800px;
    position: absolute;
    -webkit-text-size-adjust: 100%;
  }

  .cropped {
     width: 2000px;
     height: 500px;
     object-fit: cover;
     margin-left: -120px;
     opacity: 0.90;
    }

  .topleft {
      position: absolute;
      color: white;
      top: 100px;
      left: 300px;
      font-size: 18px;
    }
</style>

<body>
<div class="carousel-inner" style="margin-top: -1px">
      <div class="carousel-item active">
        <img class="cropped" width="100%" src="./static/assets/daan-evers-tKN1WXrzQ3s-unsplash.jpg" aria-hidden="true" focusable="false">
        <div class="container">
          <div class="topleft">
            <h1 class="display-4 fw-bold">Coffee and Work</h1>
            <p class="opacity-75">.</p>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h2 class="display-4 fw-bold text-body-emphasis">About</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">You want to drink good coffee, have excellent wifi connection and at the same time having a cozy
        surrounding? There is no more waiting and searching and disappointment. Have a look at our list of cafes and choose the one
        that suits you best. Pack your laptop, copy the address in google maps and let's go.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a type="button" class="btn btn-outline-secondary btn-lg px-4 me-sm-3" href="{{ url_for('get_cafes') }}">All Cafes</a>
        </div>
      </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="./static/assets/christin-hume-Hcfwew744z4-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
    </div>
</div>
</body>

{% include 'footer.html' %}
